* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Inter, sans-serif;
	color: #000;
}

.container {
	max-width: 1194px;
	margin: 0 auto;
	padding: 0 24px;
}

.content {
	margin-bottom: 94px;
}

.content-box {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.content-main {
	flex-grow: 1;
}

.content-main__title {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
}

.content-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.content-film {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	gap: 28px;
}

.content-film__img {
	width: calc((100% - 28px) / 2);
	display: flex;
	justify-content: center;
}

.content-film__img img {
	width: 100%;
	display: block;
	max-width: 450px;
}

.content-film__info {
	width: calc((100% - 28px) / 2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.content-film__info__content > *:last-child {
	margin-bottom: 0;
}

.content-film__info__title {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 gap: 4px;
 margin-bottom: 3px;
}

.content-film__info__title h1,
.content-film__info__title p {
	margin: 0;
	color: rgba(0, 0, 0, 1);
	font-size: 24px;
	line-height: 29px;
}

.content-film__info__title h1 {
	font-weight: 700;
}

.content-film__info__title p {
	font-weight: 400;
}

.content-film__info__description {
	margin-top: 0;
	margin-bottom: 2px;
	color: rgba(134, 134, 134, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.content-film__info__rating {
	margin-top: 0;
	margin-bottom: 30px;
	color: rgba(4, 163, 30, 1);
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.content-film__info__text {
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-top: 0;
	margin-bottom: 18px;
}

.content-film__info__controls button {
	padding: 16px 98px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: rgba(255, 73, 73, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	cursor: pointer;
}


@media(max-width:991px) {
	.content-film {
		flex-direction: column;
	}
	.content-film__img {
	width: 100%;
	}
	.content-film__info {
	width: 100%;
	}
}

@media(max-width:768px) {
	.content-box {
		flex-direction: column;
	}
}
